<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-img">
              <img class="responsive-img" src="./assets/img/r.png" alt="imagen profile">
            </div>
            <div class="card-action">
              <a href="">Cambiar foto</a>
            </div>
          </div>
        </div>
        <div class="col s12 m8">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12 m6">
                <input type="text" name="nick" id="nick">
                <label for="nick">Nick</label>
              </div>
              <div class="input-field col s12 m6">
                <input type="email" name="email" id="email">
                <label for="email">E-mail</label>
              </div>
              <div class="input-field col s12">
                <input type="text" name="info" id="info">
                <label for="info">Estado</label>
              </div>
              <div class="input-field col s12">
                <select>
                  <option disabled selected>Estatus</option>
                  <option value="online">Conectado</option>
                  <option value="away">Ausente</option>
                  <option value="busy">Ocupado</option>
                  <option value="offline">Desconectado</option>
                </select>
              </div>
              <div class="col s12 center-align">
                <a class="waves-effect waves-light btn btnPlatzinger">guardar</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
